.welcome {
    display: flex;
    justify-content: center;
    color: #22668D;
    margin-top: 2%;
    text-decoration: underline #FFCC70 ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.gifDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22668D;
    margin-top: 4%;
}

.welcomeGif {
    width: 35%;
    border: solid 5px #22668D;
}

.message {
    text-align: center;
    color: #22668D;
    margin-top: 4%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    width: 50%;
    padding: 2%;
    border: solid 5px #FFCC70;
    border-radius: 30%;
    background-color: #8ECDDD;
}

.messageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.logo {
    width: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

/* 
#FFCC70
#FFFADD
#8ECDDD
#22668D
 */