.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin: 20px 20px 20px 45px;
    padding: 30px;
}

.flashcard, .flashcard2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.35rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(245, 245, 245, 0.973);
    transform-style: preserve-3d;
    transition: 200ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    height: 250px;
    width: 200px;
    margin: 10px;
}

.flashcard:hover{
    --translate-y: -2px;
}

.flashcard.flash, .flashcard2.flash {
    --rotate-y: 180deg;
}

.front, .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.flashcard .back , .flashcard2 .back{
    transform: rotateY(180deg);
}

/* .card .back {
    max-width: 75px;
} */