.study {
    display: flex;
    justify-content: center;
    color: #22668D;
    margin-top: 2%;
    text-decoration: underline #FFCC70 ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 2%;
}

.flashcard, .flashcard2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.35rem;
    box-shadow: 0 0 5px 5px #22668D;
    background-color: #f5f5f5f8;
    transform-style: preserve-3d;
    transition: 200ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    height: 250px;
    width: 50%;
    margin: 10px;
}

.flashcard:hover{
    --translate-y: -2px;
    box-shadow: 0 0 5px 5px #8ECDDD;
}

.flashcard.flash, .flashcard2.flash {
    --rotate-y: 180deg;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
    color: #22668D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.flipCount {
    color: #22668D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 510;
    display: flex;
    justify-content: center;
    margin-top: 2%;

}

.indivCount {
    color: #22668D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 510;
}


.flashcard .back , .flashcard2 .back{
    transform: rotateY(180deg);
}

/* .card .back {
    max-width: 75px;
} */

.resetButton {
    width: 8%;
    color: #22668D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


 /* 
#FFCC70
#FFFADD
#8ECDDD
#22668D
 */